<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title }) %>
<body class="" data-bs-theme="dark">
    <%- include('partials/header.ejs', { user })  %>
    <main class="container my-5">
        <h1>Pictures</h1>
        <div class="row w-full align-items-end justify-content-start">
            <% files.forEach((file) => { %>
                <div class="text-center col-3 mb-3 d-flex flex-column">
                    <img class="mb-3 img-fluid" src="<%=file.src%>" style="max-width:250px">
                    <a class="d-flex w-full ml-auto" href="upload/<%=file.name%>"><%=file.name%></a>
                </div>
            <% });%>
        </div>
        <!-- 
        <pre>
            <%- JSON.stringify(files, null, 2) %>
        </pre> 
        -->
    </main>
</body>
</html>